{% extends 'tecno/base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock  %}

{% block contenido %}
{% load crispy_forms_tags %}
<h2>Contacta con nosostros</h2>
<form action="" class="formulario_contacto" method="post" >
    
    {% csrf_token %}

    {{ form | crispy }}

    <br>
    <div class="d-flex justify-content-end">
    <input type="reset" value="Cancelar" class="btn btn-secondary">

    <button type="submit" id="btn_Enviar" class="btn btn-primary">enviar</button>
    </div>
</form>
{{mensage}}
{% endblock %}