{% extends 'tecno/base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block js %}
{% endblock  %}

{% block contenido %}

{% load humanize %}

<div class="productos">
    {% for p in productos %}
    <div class="producto">
        <div class="contenedor">
            {% if p.imagen %}
            <img src="{{p.imagen.url}}" alt="yoga">
            {% endif %}
        </div>

        <div class="detalles">
            <h5>{{p.marca}}</h5>
            <h2>{{p.nombre}}</h2>
            <h3>${{p.precio | intcomma}}</h3>
            <button id="btn_carrito">Añadir al carrito</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}